.vscode/
blockchainApi/node_modules
blockchainApi/.env
blockchainApi/bcData
blockchainApi/.env
blockchainApi/bcData/geth/chaindata/000027.ldb
blockchainApi/bcData/geth/chaindata/CURRENT
blockchainApi/bcData/geth/chaindata/CURRENT.bak
blockchainApi/bcData/geth/chaindata/LOG
blockchainApi/bcData/geth/lightchaindata/000001.log
blockchainApi/bcData/geth/lightchaindata/CURRENT
blockchainApi/bcData/geth/lightchaindata/LOG
blockchainApi/bcData/geth/lightchaindata/MANIFEST-000000
blockchainApi/bcData/geth/nodekey
blockchainApi/bcData/geth/nodes/CURRENT
blockchainApi/bcData/geth/nodes/CURRENT.bak
blockchainApi/bcData/geth/nodes/LOG
blockchainApi/bcData/geth/transactions.rlp
blockchainApi/bcData/geth/triecache/data.0.bin
