HELP.md
marketplaceAPI/target/
!marketplaceAPI/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

blockchainApi/node_modules
blockchainApi/bcData

blockchainApi/.env
blockchainApi/.env
blockchainApi/.env
blockchainApi/.env
blockchainApi/.env
blockchainApi/bcData/geth/chaindata/000024.ldb
blockchainApi/bcData/geth/chaindata/000025.log
blockchainApi/bcData/geth/chaindata/CURRENT
blockchainApi/bcData/geth/chaindata/CURRENT.bak
blockchainApi/bcData/geth/chaindata/LOG
blockchainApi/bcData/geth/chaindata/MANIFEST-000026
blockchainApi/bcData/geth/nodes/000014.ldb
blockchainApi/bcData/geth/nodes/000015.ldb
blockchainApi/bcData/geth/nodes/000018.ldb
blockchainApi/bcData/geth/nodes/000021.ldb
blockchainApi/bcData/geth/nodes/000022.log
blockchainApi/bcData/geth/nodes/CURRENT
blockchainApi/bcData/geth/nodes/CURRENT.bak
blockchainApi/bcData/geth/nodes/LOG
blockchainApi/bcData/geth/nodes/MANIFEST-000023
blockchainApi/bcData/geth/transactions.rlp
blockchainApi/bcData/geth/triecache/data.0.bin
